@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
// @import "../app/libs/fontawesome/web-fonts-with-css/scss/fontawesome.scss"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

//Custom Styles Here
.preloader
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: #fff
	z-index: 999
	.cssload-thecube
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto

body, html
	height: 100%
.container-fluid
	height: 100%
	.row
		height: 100%
		.navbarmain
			background-color: #2B9483
			height: 100%
			.brand h1
				color: #fff
				text-transform: uppercase
				font-size: 25px
			ul.navbar
				padding: 0
				margin-top: 50px
				li
					list-style: none
					padding: 0
					color: #fff
					padding: 5px 0
					border-bottom: 1px solid #fff
					cursor: pointer
					&:last-child
						border-bottom: none
				li.active
					&::after
						content: '*'
						float: right
.container-fluid
	width: 100%
	height: 100%
	.row
		width: 100%
		height: 100%
		.mainArea
			height: 100%
			.wrp
				height: 100%
				padding: 5px 20px
				.users-settings
					h1
						border-bottom: 1px solid #2B9483
					select
						border: none
						background-color: #fff
						width: 120px
						height: 35px
						// box-shadow: 0 0 7px rgba(0,0,0,.3)
						border: 2px solid #2866F7
						border-radius: 5px
						padding: 0 7px
						outline: none
					ul.onlineusers
						padding: 0
						margin-top: 50px
						li
							list-style: none
							padding: 5px 10px
							margin-bottom: 20px
							box-shadow: 0 0 15px rgba(0,0,0,.4)
							width: 250px
							max-width: 350px
							border-radius: 18px
							position: relative
							line-height: 28px
							// border: 1px solid #2866F7
							i
								font-size: 18px
								color: #2866F7
								position: absolute
								right: 0
								padding-right: 15px
								line-height: 28px
								cursor: pointer
							.info
								margin-right: 20px
							.close




//ALWAYS END
@import "media"
